body {
    margin: 0;
    padding: 0;
    font-family: "Google Sans",arial,sans-serif;
    background-color: rgb(236, 236, 236);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5144b1;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all .15s ease-in;
}

.burger {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}

.nav-links a:hover{
    color: rgb(212, 212, 212);
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #5144b1;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}


#cont-flight {
    display: flex;
    flex-direction: column;
}

.flight-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 3px;
    border-radius: 5px;
    height: 6rem;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.detail {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
}

.buy-flight {
    padding: 5px 10px;
    background-color: rgb(60, 185, 66);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 5px;
    transition: all 0.1s ease;
    width: 10rem;
}

.buy-flight:hover{
    background-color: rgb(56, 156, 61);
    cursor: pointer;
}

.search-navbar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
    margin: 3px;
    overflow-y: auto;
    overflow: hidden;
    display: flex;
}

.search-navbar button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s;
    margin-top: 5px;
    box-sizing: border-box;
    font-weight: bold;
}

.search-navbar button:hover {
    background-color: #302776;
}

.search-container {
    max-width: 600px;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-container {
    overflow: hidden;
    transition: height 0.3s; 
    height: 0;
    flex-direction: column;
}

.txt {
    font-weight: bold;
    margin-bottom: 8px;
}

.box {
    padding: 10px; 
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.nav-bt {
    background-color: #6153c9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.nav-bt:hover {
    background-color: #302776;
}



